*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* root font size is 16px so 62.5% is 10px */
  height: 100%;
  font-size: 62.5%;
  color: #392033;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem 5rem 0 5rem;
  min-height: 100%;
  overflow-x: hidden;
  background-image: url('/public/images/background.png');
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 3rem 2rem 0 2rem;
  }
}
