@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.landing {
  position: relative;
}
header {
  margin-bottom: 10rem;
  height: 2rem;
}
.landing__heading {
  font-size: 1.6rem;
  float: left;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.landing__nav {
  float: right;
  text-decoration: none;
  font-size: 1.2rem;
  top: 0;
  padding-top: 0.4rem;
  z-index: 200;
}
.landing__nav-options {
  float: left;
  margin: 0 1.5rem;
  cursor: pointer;
}
.home {
  color: #fd6051;
}
.landing__button {
  background-color: #fd6051;
  color: #fff;
  float: left;
  border-style: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  margin-top: -1rem;
  box-shadow: 0 1.5rem 2rem rgba(253, 96, 81, 0.28);
  cursor: pointer;
  transition: all 0.3s;
}
.landing__button:hover {
  transform: scale(1.1);
  box-shadow: 0 1.5rem 2rem rgba(253, 96, 81, 0.35);
}
.landing__vector {
  position: relative;
  float: right;
  width: 45rem;
  z-index: 0;
}
.landing__welcome-container {
  left: 0;
  width: 45rem;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}
.landing__welcome {
  font-size: 8rem;
  line-height: 7rem;
}
.orange {
  color: #fd6051;
}
.landing__copy {
  left: 0;
  font-size: 1.5rem;
  width: 50rem;
  margin-top: 1rem;
  font-family: 'Nunito', sans-serif;
}
.second {
  margin-top: 1rem;
  left: 0;
}

.second::after {
  content: '';
  display: table;
  clear: both;
}

.landing__section-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 3rem;
  width: 100%;
  margin-top: 10rem;
}

.projects-heading {
  margin-top: 35rem;
}

.landing__subheading {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

.landing__project-container {
  width: 100%;
  margin-bottom: 10rem;
}

.projects__subhead {
  width: 50%;
  margin: 1rem 25%;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
}

.projects__button {
  display: block;
  margin: 0 auto;
  width: 20rem;
  display: block;
  color: #fff;
  background-color: #fd6051;
  border-style: none;
  border-radius: 50px;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 1.5rem 2rem rgba(253, 96, 81, 0.28);
  cursor: pointer;
  transition: all 0.3s;
}
.projects__button:hover {
  transform: scale(1.1);
  box-shadow: 0 1.5rem 2rem rgba(253, 96, 81, 0.35);
}

.whoami__content {
  display: block;
  width: 60%;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 2.5rem;
}

.whoami__photo {
  float: right;
  height: 30rem;
  margin: -20rem 9rem 0 0;
  z-index: 100;
  position: relative;
  outline: 3px solid #392033;
  outline-offset: 0.8rem;
  transition: all 0.4s;
}

.whoami__photo:hover {
  transform: scale(1.08);
  outline: 5px solid #392033;
}

.whoami__photo:hover + .whoami__vector {
  transform: rotate(10deg);
}

.whoami__vector {
  position: absolute;
  right: -3rem;
  height: 45rem;
  margin-top: -28rem;
  z-index: 1;
  transition: 0.4s all;
}

.skills__heading {
  margin-top: 20rem;
}
.skills__subhead {
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.landing__skill-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.landing__test-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.pricingcard-container {
  display: flex;
  flex-direction: row;
}

.quote__question {
  text-align: left;
  margin: 2rem auto 0 auto;
  width: 40rem;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
}

.quote__dropdown {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

:root {
  --select-border: #392033;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.quote__select-container {
  width: 40rem;
  margin: 1rem auto;
  border: 1px solid var(--select-border);
  border-radius: 5px;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #392033;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  background-color: #fff;
}

.quote__select-container::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.quote__select-container:after {
  grid-area: select;
}

.quote__open-answer {
  width: 40rem;
  display: block;
  margin: 1rem auto;
  height: 15rem;
  border: 1px solid #392033;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #392033;
  resize: none;
}

.quote__open-answer:focus {
  outline: none;
}

.details {
  height: 4rem;
  padding: 1rem;
  line-height: auto;
}

.details::placeholder {
  color: rgb(160, 160, 160);
}

.center {
  float: none;
  display: block;
  margin: 2rem auto;
  padding: 1.2rem 3.5rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

.landing__footer {
  position: absolute;
  background-image: url('/public/images/footer-bg.png');
  background-size: cover;
  width: calc(100% + 10rem);
  margin: 5rem 0 0 -5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 7rem;
  margin: 3rem 0 1.5rem 0;
}

.footer__text {
  color: #fff;
  font-size: 2rem;
  margin-bottom: -10rem;
  display: inline;
}

.footer__links {
  width: 2.5rem;
  margin: 11rem 0.2rem 0 0.2rem;
  cursor: pointer;
}
